<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <div class="col-12">
      <div class="horizontal-scrollable">

        <div class="col-lg-4 card bg-primary" > 
          <div class="card-body">
            <h3 class="card-title">Coding</h3>
            <ul class="list-inline">
              <li>
                <i class="fa-brands fa-3x icon-button fa-java"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-button fa-python"></i>
              </li>
            </ul>
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > Java </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > C++ </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > C / OpenMP </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Python </h5>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 card bg-primary" > 
          <div class="card-body">
            <h3 class="card-title">Web Development</h3>
            <ul class="list-inline center-box">
              <li>
                <i class="fa-brands fa-3x icon-button fa-html5"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-button fa-react"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-button fa-bootstrap"></i>
              </li>
            </ul>
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > HTML </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > CSS </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Javascript </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > React.js </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Material-UI </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Bootstrap </h5>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 card bg-primary" > 
          <div class="card-body">
            <h3 class="card-title">Backend</h3>
            <ul class="list-inline center-box">
              <li>
                <i class="fa-brands fa-3x icon-button fa-node-js"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-button fa-database"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-button fa-cloud"></i>
              </li>
            </ul>
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > Node.js </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > MongoDB </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Firebase </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > OAuth </h5>
              </li>

            </ul>
          </div>
        </div>

        <div class="col-lg-4 card bg-primary" > 
          <div class="card-body">
            <h3 class="card-title">Scripting</h3>
            <ul class="list-inline center-box">
              <li>
                <i class="fa-brands fa-3x icon-button fa-python"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-button fa-bash"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-button fa-lisp"></i>
              </li>
            </ul>
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > Python </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Bash </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Lisp </h5>
              </li>

            </ul>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>
</section>
