<!-- About Section -->


<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Skills</h2>
        <hr class="star-light">
      </div>
    </div>


    <div class="container">
      <div class="row card-row">

        <div class="col-lg-3 card bg-primary spaced-card" > 
          <div class="card-body">
            <h3 class="card-title">Coding</h3>
            <ul class="list-inline">
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-java"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-python"></i>
              </li>
            </ul>
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > Java </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > C++ </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > C / OpenMP </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Python </h5>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-3 card bg-primary spaced-card" > 
          <div class="card-body">
            <h3 class="card-title">Web Development</h3>
            <ul class="list-inline">
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-html5"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-react"></i>
              </li>
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-bootstrap"></i>
              </li>
            </ul>
            
            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > HTML </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > CSS </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Javascript </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > React.js </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Material-UI </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Bootstrap </h5>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 card bg-primary spaced-card" > 
          <div class="card-body">
            <h3 class="card-title">Backend</h3>
            <ul class="list-inline center-box">
              <li>
                <i class="fa-brands fa-3x icon-list-button fa-node-js"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-list-button fa-database"></i>
              </li>
              <li>
                <i class="fa-solid fa-3x icon-list-button fa-cloud"></i>
              </li>
            </ul>

            <ul class="list-group list-group-flush card-text"> 
              <li class="list-group-item">
                <h5 class="text-primary" > Node.js </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > MongoDB </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > Firebase </h5>
              </li>
              <li class="list-group-item">
                <h5 class="text-primary" > OAuth </h5>
              </li>

            </ul>
          </div>
        </div>
    </div>

    <div class="row card-row">
      <div class="col-lg-3 card bg-primary spaced-card" > 
        <div class="card-body">
          <h3 class="card-title">Scripting</h3>
          <ul class="list-inline center-box">
            <li>
              <i class="fa-brands fa-3x icon-list-button fa-python"></i>
            </li>
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-scroll"></i>
            </li>
          </ul>
          <ul class="list-group list-group-flush card-text"> 
            <li class="list-group-item">
              <h5 class="text-primary" > Python </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Bash </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Lisp </h5>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-lg-3 card bg-primary spaced-card" > 
        <div class="card-body">
          <h3 class="card-title">Data Science</h3>
          <ul class="list-inline center-box">
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-chart-simple"></i>
            </li>
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-book"></i>
            </li>
          </ul>
          <ul class="list-group list-group-flush card-text"> 
            <li class="list-group-item">
              <h5 class="text-primary" > Scikit-learn </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Pandas </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Numpy </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Jupyter Notebook </h5>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-lg-3 card bg-primary spaced-card" > 
        <div class="card-body">
          <h3 class="card-title">Machine Learning</h3>
          <ul class="list-inline center-box">
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-circle-nodes"></i>
            </li>
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-eye"></i>
            </li>
          </ul>
          <ul class="list-group list-group-flush card-text"> 
            <li class="list-group-item">
              <h5 class="text-primary" > PyTorch </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > OpenCV </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Image Classification </h5>
            </li>

          </ul>
        </div>

      </div>
    </div>

    <div class="row card-row">
      <div class="col-lg-3 card bg-primary spaced-card" > 
        <div class="card-body">
          <h3 class="card-title">Engineering</h3>
          <ul class="list-inline center-box">
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-wave-square"></i>
            </li>
            <li>
              <i class="fa-solid fa-3x icon-list-button fa-microchip"></i>
            </li>
          </ul>

          <ul class="list-group list-group-flush card-text"> 
            <li class="list-group-item">
              <h5 class="text-primary" > MATLAB </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Verilog </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Digital Design </h5>
            </li>
            <li class="list-group-item">
              <h5 class="text-primary" > Signals </h5>
            </li>
            <li class="list-group-item"> 
              <h5 class="text-primary"> Analog Circuits </h5>
            </li>


          </ul>
        </div>

      </div>

    </div>

  </div>
</section>
